*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.App{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#fondo{
    background-image: url(./background/brown-papyrus-paper.jpg);
    height: auto;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    opacity:98%;
    padding-bottom: 5%;
}

#fondo hr{
    opacity: 20%;
    border-radius: 70%;
}